<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastro de usuário - Funcionário</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    :root {
        --peru: #ec9474;
        --coral: #fba383;
        --maroon: #742a0f;
        --rosybrown: #a46c5c;
        --tan: #cda99d;
    }
    nav {
        font-size: 1.1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        width: 100%;
        background-color: var(--maroon);
        color: white;
        box-shadow: 0 0 5px black;
    }

    .navbar {
        width: 60%;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 0.5em;
        margin: 0 0.5em 0 0;
    }
    nav p {
        width: 40%;
        margin: 1em;
        justify-content: flex-start;
    }
    a {
        color: white;
        text-decoration: none;
        padding: 0.3em 0.5em;
    }

    a:hover {
        background-color: var(--maroon);
        border: 1px solid var(--maroon);
        border-radius: 15px;
        text-decoration: none;
        color: white;
    }
</style>
</head>

<body>
<nav>
    <div class="navbar">
        <a id="pets">Pets</a>
        <a id="produtos" th:href="@{/pedido/}">Produtos</a>
        <a id="servicos">Servicos</a>
        <a id="listagem">Listagem</a>
        <a id="meu-usuario">Meu Usuario</a>
        <a id="inicio">Sair</a>
    </div>
</nav>
<div class="login-container position-relative overflow-hidden">
    <div class="circle">
    </div>

    <div class="w-100 overflow-hidden d-flex align-items-center justify-content-center">
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
    </div>
    <div class="w-100 overflow-hidden d-flex align-items-center justify-content-center">
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
    </div>
    <div class="w-100 overflow-hidden d-flex align-items-center justify-content-center">
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
    </div>
    <div class="w-100 overflow-hidden d-flex align-items-center justify-content-center">
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
        <i class="ph ph-paw-print custom-paw"></i>
    </div>

    <div class="main">

        <div class="title d-flex align-items-center justify-content-between">
            <h1 class="p-2 h1-title">CADASTRO DE FUNCIONÁRIO</h1>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
        </div>

        <form id="cadastroForm">
            <div class="row">
                <div class="form-group col-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="nome" name="nome" required>
                    <div id="mensagemErroNome" class="alerta" role="alert"></div>
                </div>

                <div class="form-group col-6">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control rounded-pill px-4" id="email" name="email" required>
                    <div id="mensagemErroEmail" class="alerta" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="dataDeNascimento">Data de Nascimento:</label>
                    <input type="date" class="form-control rounded-pill px-4" id="dataDeNascimento"
                           name="dataDeNascimento" required>
                    <div id="mensagemErroDataDeNascimento" class="alerta" role="alert"></div>

                </div>
                <div class="form-group col-6">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="telefone" name="telefone" required>
                    <div id="mensagemErroTelefone" class="alerta" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label for="logradouro">Logradouro:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="logradouro" name="logradouro"
                           required>
                    <div id="mensagemErroLogradouro" class="alerta" role="alert"></div>
                </div>
                <div class="form-group col-3">
                    <label for="numero">Número:</label>
                    <input type="number" class="form-control rounded-pill px-4" id="numero" name="numero" required>
                    <div id="mensagemErroNumero" class="alerta" role="alert"></div>
                </div>
                <div class="form-group col-3">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="bairro" name="bairro" required>
                    <div id="mensagemErroBairro" class="alerta" role="alert"></div>
                </div>
                <div class="form-group col-3">
                    <label for="cep">CEP:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="cep" name="cep" required>
                    <div id="mensagemErroCep" class="alerta" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="cidade" name="cidade" required>
                    <div id="mensagemErroCidade" class="alerta" role="alert"></div>
                </div>
                <div class="form-group col-3">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control rounded-pill px-4" id="estado" name="estado" required>
                    <div id="mensagemErroEstado" class="alerta" role="alert"></div>
                </div>
                <div class="form-group col-6">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control rounded-pill px-4" id="senha" name="senha" required>
                    <div id="mensagemErroSenha" class="alerta" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="cargo">Cargo:</label>
                    <select class="form-control rounded-pill px-4" id="cargo" name="cargo" required>
                        <option value="" disabled selected>Selecione o cargo</option>
                        <option value="VETERINARIO">Veterinário</option>
                        <option value="RECEPCIONISTA">Recepcionista</option>
                        <option value="GERENTE">Gerente</option>
                    </select>
                    <div id="mensagemErroCargo" class="alerta" role="alert"></div>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="text-start col-6">
                            <button type="button" class="btn-cadastro rounded-pill" id="voltarListagem">
                                <i class="ph ph-arrow-bend-up-left"></i>
                                <span>Voltar</span>
                            </button>
                        </div>
                        <div class="text-end col-6">
                            <button type="button" id="cadastrarButton" class="btn-cadastro rounded-pill">Cadastrar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="title d-flex align-items-center justify-content-between">
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
            <i class="ph ph-dog"></i>
        </div>
    </div>
    <script>

        document.getElementById("cadastrarButton").onclick = function () {
            const nome = document.getElementById("nome").value || null;
            const email = document.getElementById("email").value || null;
            const dataDeNascimento = document.getElementById("dataDeNascimento").value || null;
            const telefone = document.getElementById("telefone").value || null;
            const logradouro = document.getElementById("logradouro").value || null;
            const numero = document.getElementById("numero").value || null;
            const bairro = document.getElementById("bairro").value || null;
            const cep = document.getElementById("cep").value || null;
            const cidade = document.getElementById("cidade").value || null;
            const estado = document.getElementById("estado").value || null;
            const senha = document.getElementById("senha").value || null;

            const cargoElement = document.getElementById("cargo");
            const cargo = cargoElement.options[cargoElement.selectedIndex].value;


            // Limpar mensagens de erro

            document.getElementById("mensagemErroNome").innerText = "";
            document.getElementById("mensagemErroEmail").innerText = "";
            document.getElementById("mensagemErroSenha").innerText = "";
            document.getElementById("mensagemErroBairro").innerText = "";
            document.getElementById("mensagemErroDataDeNascimento").innerText = "";
            document.getElementById("mensagemErroCep").innerText = "";
            document.getElementById("mensagemErroCidade").innerText = "";
            document.getElementById("mensagemErroEstado").innerText = "";
            document.getElementById("mensagemErroNumero").innerText = "";
            document.getElementById("mensagemErroLogradouro").innerText = "";
            document.getElementById("mensagemErroTelefone").innerText = "";

            console.log({
                nome: nome,
                email: email,
                dataDeNascimento: dataDeNascimento,
                telefone: telefone,
                logradouro: logradouro,
                numero: numero,
                bairro: bairro,
                cep: cep,
                cidade: cidade,
                estado: estado,
                senha: senha,
                cargo: cargo,
            });

            fetch('/usuario/cadastro-usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    nome: nome,
                    email: email,
                    dataDeNascimento: dataDeNascimento,
                    telefone: telefone,
                    logradouro: logradouro,
                    numero: numero,
                    bairro: bairro,
                    cep: {
                        cep: cep,
                        cidade: cidade,
                        estado: estado,
                    },
                    senha: senha,
                    cargo: cargo,

                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            if (data.errors) {
                                data.errors.forEach(error => {
                                    switch (error) {
                                        case "Nome é um campo obrigatório.":
                                            document.getElementById("mensagemErroNome").innerText = error;
                                            break;
                                        case "E-mail é um campo obrigatório.":
                                            document.getElementById("mensagemErroEmail").innerText = error;
                                            break;
                                        case "Este e-mail já está cadastrado em nosso site.":
                                            document.getElementById("mensagemErroEmail").innerText = error;
                                            break;
                                        case "E-mail inválido.":
                                            document.getElementById("mensagemErroEmail").innerText = error;
                                            break;
                                        case "Telefone é um campo obrigatório.":
                                            document.getElementById("mensagemErroTelefone").innerText = error;
                                            break;
                                        case "Logradouro é um campo obrigatório.":
                                            document.getElementById("mensagemErroLogradouro").innerText = error;
                                            break;
                                        case "Bairro é um campo obrigatório.":
                                            document.getElementById("mensagemErroBairro").innerText = error;
                                            break;
                                        case "Senha é um campo obrigatório.":
                                            document.getElementById("mensagemErroSenha").innerText = error;
                                            break;
                                        case "A senha deve ter no mínimo 7 caracteres.":
                                            document.getElementById("mensagemErroSenha").innerText = error;
                                            break;
                                        case "Número é um campo obrigatório.":
                                            document.getElementById("mensagemErroNumero").innerText = error;
                                            break
                                        case "Cep é um campo obrigatório.":
                                            document.getElementById("mensagemErroCep").innerText = error;
                                            break
                                        case "Cidade é um campo obrigatório.":
                                            document.getElementById("mensagemErroCidade").innerText = error;
                                            break
                                        case "Estado é um campo obrigatório.":
                                            document.getElementById("mensagemErroEstado").innerText = error;
                                            break
                                        case "Data de nascimento é um campo obrigatório.":
                                            document.getElementById("mensagemErroDataDeNascimento").innerText = error;
                                            break
                                        default:
                                            document.getElementById("mensagemErro").innerText = error;
                                    }
                                });
                            }
                        });
                    } else {
                        window.location.href = '/usuario/listagem';
                    }
                })
        };
        document.getElementById("voltarListagem").onclick = function () {
            window.location.href = '/usuario/listagem';
        };

        document.getElementById("inicio").addEventListener("click", function () {
            window.location.href = "/usuario/inicial";
        });

        document.getElementById("listagem").addEventListener("click", function () {
            window.location.href = "/usuario/listagem";
        });

        document.getElementById("cadastrarFuncionario").addEventListener("click", function () {
            window.location.href = "/usuario/cadastro-funcionario";
        });
        document.getElementById("meu-usuario").addEventListener("click", function () {
            window.location.href = "/usuario/meus-dados";
        });
    </script>
</div>
</body>
</html>
