<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/cadastroPet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de pet</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>Cadastro Pet</h1>
        <form>
          <div>
            <label for="emailUsuario">Email do usuário:</label>
            <input type="email" id="emailUsuario" name="emailUsuario" />
          </div>
          <div>
            <label for="nomePet">Nome do pet:</label>
            <input type="text" id="nomePet" name="nomePet" />
          </div>
          <div>
            <label for="especiePet">Espécie:</label>
            <input type="text" id="especiePet" name="especiePet" />
          </div>
          <div>
            <label for="racaPet">Raça:</label>
            <input type="text" id="racaPet" name="racaPet" />
          </div>
          <div>
            <label for="dataDeNascimento">Data de nascimento:</label>
            <input type="date" id="dataDeNascimento" name="dataDeNascimento" />
          </div>
          <div class="button">
            <button type="button" id="cadastrarButton" class="btn-cadastrar">
              Cadastrar
            </button>
            <button type="button" id="voltarButton" class="btn-voltar">
              Voltar
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      document.getElementById("cadastrarButton").onclick = function () {
        const emailUsuario = document.getElementById("emailUsuario").value;
        const nomePet = document.getElementById("nomePet").value;
        const racaPet = document.getElementById("racaPet").value;
        const especiePet = document.getElementById("especiePet").value;
        const dataDeNascimento =
          document.getElementById("dataDeNascimento").value;

        const pet = {
          nome: nomePet,
          raca: {
            raca: racaPet,
            especie: especiePet,
          },
          dataDeNascimento: dataDeNascimento,
        };

        // Construção da URL com o parâmetro usuarioEmail
        const url = `/pets/cadastro-pet?usuarioEmail=${encodeURIComponent(
          emailUsuario
        )}`;
        console.log("URL da requisição:", url);

        // Envio dos dados do pet para o servidor
        fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(pet),
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((errors) => {
                console.error(errors);
                throw new Error("Erro ao cadastrar o pet");
              });
            }
          })
          .catch((error) => {
            console.error("Erro ao cadastrar o pet:", error);
          });
      };
    </script>
  </body>
</html>
