<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listagem de pedidos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/styles/listagemPedidos.css" />

</head>
<body>
<header>
    <nav>
        <div class="navbar">
            <a href="">Inicio</a>
            <a href="">Pets</a>
            <a id="produtos" th:href="@{/pedido/}">Produtos</a>
            <a href="">Servicos</a>
            <a id="carrinho" style="position: relative; display: inline-block;" href="#">
                <i class="ph ph-shopping-cart" style="font-size: 35px;"></i>
                <span id="qtd" class="badge badge-pill badge-primary" style="position: absolute; top: -1px; right: -1px; background: #ec9474">0</span>
            </a>
        </div>
    </nav>
</header>
<div class="lateral-container">
    <div id="customMsg" style="display: none; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); font-size: 24px; padding: 15px;" class="alert alert-success" role="alert"></div>
</div>

<div class="container mt-5">
    <h1 class="my-4">Listagem de Pedidos</h1>

    <table class="table table-bordered table-striped">
        <thead class="thead">
        <tr>
            <th scope="col">Pedido ID</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Produtos</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.pedido_id}"></td>
            <td th:text="${#dates.format(pedido.data, 'dd/MM/yyyy')}"></td>
            <td th:text="${pedido.valor}"></td>
            <td>
                <ul>
                    <li th:each="produto : ${pedido.produtos}">
                        <span th:text="${produto.produto_nome}"></span> -
                        <span th:text="${produto.quantidade}"></span> unidades -
                        <span th:text="${produto.produto_preco}"></span> cada
                    </li>
                </ul>
            </td>
            <td>
                <button class="atualizarPedido" th:attr="data-pedido-id=${pedido.pedido_id}" style="margin-left: 5px; border: 0; color: green; background: transparent">
                    <i style="font-size: 25px;" class="ph ph-pencil" title="Editar pedido"></i>
                </button>
                <button class="cancelarPedido" th:attr="data-pedido-id=${pedido.pedido_id}" style="margin-left: 5px; border: 0; color: red; background: transparent">
                    <i style="font-size: 25px;" class="ph ph-trash" title="Cancelar pedido"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    const botoesCancelar = document.querySelectorAll('.cancelarPedido');
    const botoesAtualizar = document.querySelectorAll('.atualizarPedido');
    var carrinho = []

    botoesCancelar.forEach(botao => {
        botao.addEventListener('click', function (event) {
            const pedidoId = this.getAttribute('data-pedido-id');

            fetch(`/pedido/${pedidoId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: pedidoId
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errors => {
                            errors.forEach(error => {
                                console(error);
                            });
                        });
                    } else{
                        var msg = document.getElementById('customMsg');
                        msg.textContent = "Pedido deletado com sucesso!";
                        msg.style.display = 'block';
                        setTimeout(() => {
                            msg.style.display = 'none';
                            window.location.href = '/pedido/list';
                        }, 1500);
                    }
                })
        });
    });

    botoesAtualizar.forEach(botao => {
        botao.addEventListener('click', function (event) {
            const pedidoId = this.getAttribute('data-pedido-id');

            console.log('Pedido:', pedidoId);

            fetch(`/pedido/${pedidoId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: pedidoId
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errors => {
                            errors.forEach(error => {
                                console.error(error);
                            });
                        });
                    } else {
                        window.location.href = '/pedido/';
                    }
                })
                .catch(error => {
                    console.error('Erro ao enviar requisição:', error);
                });
        });
    });

</script>
</body>
</html>
