<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/pets.css" />
  </head>

  <body>
    <div class="myContainer" id="product-container">
      <div
        class="card div-editar"
        th:each="pet : ${pets}"
        th:data-id="${pet.id}"
        th:data-nome="${pet.nome}"
        th:data-dataDeNascimento="${pet.dataDeNascimento}"
        th:data-idade="${pet.idade}"
        th:data-imagem="${pet.imagem}"
      >
        <img
          th:src="'/images/uploads/pets/' + ${pet.imagem}"
          alt="Imagem do pet"
        />
        <div class="card-body">
          <h5 class="card-title" th:text="${pet.nome}">Nome do pet</h5>
          <div class="card-text">
            <p>
              Data de nascimento:<span th:text="${pet.dataDeNascimento}"
                >10</span
              >
            </p>
            <p>Idade: <span th:text="${pet.idade}">100,00</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
