<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/pets.css" />
  </head>

  <body>
    <div class="myContainer" id="product-container">
      <div class="card div-editar">
        <img src="/images/uploads/pets/padrao.jpg" alt="Imagem do Produto" />
        <div class="card-body">
          <h5 class="card-title">Nome do Produto</h5>
          <div class="card-text">
            <p>Quantidade: <span>10</span></p>
            <p>Valor: R$ <span>100,00</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
