:root {
  --peru: #ec9474;
  --coral: #fba383;
  --maroon: #742a0f;
  --rosybrown: #a46c5c;
  --tan: #cda99d;
}
body {
  background-color: var(--coral);
}

.btn.btn-primary {
  background-color: var(--maroon);
  border-color: var(--maroon);
}
.btn.btn-primary:hover {
  box-shadow: 0 0 5px gray;
  background-color: white;
  border-color: var(--maroon);
  color: var(--maroon);
}

.btn-primary,
.focus.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--peru);
  border-color: var(--maroon);
  box-shadow: 0 0 0 0px gray;
}
.myContainer button {
  background-color: var(--maroon);
  width: auto;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0.2em 0.4em;
}
.myContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  background-color: var(--maroon);
  color: white;
  box-shadow: 0 0 5px black;
}
.circle{
    position: absolute;
    height: 60rem;
    width: 60rem;
    border-radius: 50%;
    z-index: -1;
    background-color:var(--maroon);
    right:55%;
    top: 25%;
}
.navbar {
  width: 60%;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0.5em;
  margin: 0 0.5em 0 0;
}
nav p {
  width: 40%;
  margin: 1em;
  justify-content: flex-start;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.3em 0.5em;
}

.row {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 1em 1em;
}
.card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color:transparent; !important;
  height: 13em;
  margin: 2em;
  transition: transform 0.3s ease;
  border: none;
  color: black!important;

  width: 75%;
}
.card p {
  font-size: 18px;
}
.card img:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 4px var(--tan);
}

.card-body {
  margin-top:0.5em;
  text-align: center;
  padding: 1.25rem;
}

.card-title {
  text-align: center;
}

.card-text {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  
}
.card-text p {
  margin: 0;
}

.card img {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.filtro {
  border-radius: 10px;
  border: 1px solid var(--maroon);
  margin: 0.2em 1.2em 0 0;
}
.filtro input {
  border-radius: 10px;
  height: 100%;
  border: none;
  background-color: transparent;
  color: black;
}
.filtro input:focus-visible {
  border: none;
  border: 1px solid white;
}
.filtro img {
  width: 2em;
}
.zoom-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.zoom-image img {
  transition: transform 0.3s ease;
}

.zoom-image:hover img {
  transform: scale(1.5);
}
.icons {
  width: 5em;
  color: var(--maroon);
}
.fa, .fas {
    font-weight: 500; !important;
}
#raca {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#raca p {
  padding: 0 0.2em;
}

